<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/about.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="assets/js/data.js"></script>
</head>

<body>
    <header class="l-header">
        <nav class="nav bg-grid">
            <div>
                <H3>
                <a href="#" class="nav-logo" style="color: black !important;">BULLS FASHION</a>
                </H3>
            </div>
            <div class="nav-menu" id="nav-menu" >
                <ul class="nav-list" >
                    <li class="nav-item"><a href="/" class="nav-link" style="color: black !important;">Home</a></li>
                    <li class="nav-item"><a href="/products" class="nav-link" style="color: black !important;">Products</a></li>
                    <li class="nav-item"><a href="/chart" class="nav-link active">Chart</a></li>
                    <li class="nav-item"><a href="/aboutus" class="nav-link"  style="color: black !important;">About Us</a></li>
                    <!-- <li class="nav-item"><a href="#subscribed" class="nav-link" style="color: black !important;">Contact US</a></li> -->
                </ul>
            </div>
            <div>
                <a href="/cart" class="nav-link" style="color: black !important;">
                    <i class="fas fa-shopping-cart nav-cart"></i>
                    <i class="fas fa-th-list nav-toggle" id="nav-toggle"></i>
                    <small id="productId">0</small>
                </a>

            </div>
        </nav>
    </header>

    <!-- <script src="assets/js/chart.js"></script> -->
    <canvas id="bar-chart" width="600" height="200"></canvas>
    
    <script src="assets/js/chart.js"></script>
    
    <!-- === FOOTER === -->
    <section class="section footer">
        <div class="footer-container bg-grid">
            <div class="footer-box">
                <h3 class="footer-title">SARA</h3>
                <p class="footer-decs">products store</p>
                <a href="#" class="footer-store"><img src="./assets/images/footerstore1.png" alt="store"></a>
                <a href="#" class="footer-store"><img src="./assets/images/footerstore2.png" alt="store"></a>

            </div>
            <div class="footer-box">
                <h3 class="footer-title">Explore</h3>
                <ul>
                    <li><a href="#home" class="footer-link">Home</a></li>
                    <li><a href="#featured" class="footer-link">Featured</a></li>
                    <li><a href="#new" class="footer-link">New</a></li>
                    <li><a href="#subscribe" class="footer-link">Subscribe</a></li>
                </ul>
            </div>
            <div class="footer-box">
                <h3 class="footer-title">Our Services</h3>
                <ul>
                    <li><a href="#home" class="footer-link">pricing</a></li>
                    <li><a href="#featured" class="footer-link">free shipping</a></li>
                    <li><a href="#new" class="footer-link">gift card</a></li>
                </ul>
            </div>
            <div class="footer-box">
                <h3 class="footer-title">Explore</h3>
                <ul class="social-icons">
                    <li><a href="#" class="footer-link "><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#" class="footer-link"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#" class="footer-link"><i class="fab fa-twitter-square "></i></a></li>

                </ul>
            </div>
        </div>
        <p class="footer-copy">&#169; 2020 Copyright all right reserved</p>
    </section>
    </main>
   


</body>

</html>